body{
    background-color: rgb(144, 34, 24);
}
.bg1{
    width: 500px;
}
.box{
    width: 1000px;
    background-color: rgb(255, 250, 240);
    margin: 15px auto;
    padding: 15px;
    border-radius: 15px;
}
.data{
    color: #531c1c;
    font-size: 18px;
}
.content{
    margin: 20px;
    padding: 20px;
    border: solid 1px rgb(233, 209, 205);
}
.pic img{
    width: 1000px;
}
.pic{
    position: relative;
}
.pos_fixed{
    padding: 25px;
    position: fixed;
    bottom: 0px;
    right: 0px;
}